@page
@model Inventory.HardwareInventoryModel
@{
    ViewData["Title"] = "HardwareInventory";
}

<h1>Hardware Inventory</h1>

<div class="col-md-10">
    <div>
        <table class="table">
            <thead>
                <th>HostName</th>
                <th>Location</th>
                <th>Type</th>
                <th>OperatingSystem</th>
            </thead>
            @foreach (var hardware in Model.HardwareInventories)
            {
                <tr class="d-table-row">
                    <td>@hardware.HostName</td>
                    <td>@hardware.Location</td>
                    <td>@hardware.Type</td>
                    <td>@hardware.OperatingSystem</td>
                </tr>
            }
        </table>
    </div>
</div>
